/*
 * Colorful CSS file
 *
 */

p:not(#nms-main-container p),
a:not(#nms-main-container a),
h1:not(#nms-main-container h1),
h2:not(#nms-main-container h2),
h3:not(#nms-main-container h3),
h4:not(#nms-main-container h4),
h5:not(#nms-main-container h5),
h6:not(#nms-main-container h6),
li:not(#nms-main-container li),
span:not(#nms-main-container span),
button:not(#nms-main-container button),
time:not(#nms-main-container time),
td:not(#nms-main-container td) {
    background-color:yellow !important;
}

div:not(#nms-main-container div) {
    background-color: blue !important;
}

header:not(#nms-main-container header),
nav:not(#nms-main-container nav),
footer:not(#nms-main-container footer),
tr:not(#nms-main-container tr) {
    background-color: white !important;
}

body{
    background-color:white;
}

button:not(#nms-main-container button),
input:not(#nms-main-container input),
form:not(#nms-main-container form) {
    background-color: red !important;
}