/* BUG START */

/* ACHTUNG 
LO QUE LO ROMPE ES EL MAX-WIDTH 
SI NO SE PONE MAX-WIDTH 0, ENTONCES EL MENU APARECE EN ANCHO MAXIMO
SI SE PONE, APARECEN COMPORTAMIENTOS EXTRAÑOS AL INCLUIR ANIMACIONES.
QUIZÁS SI AISLAMOS EL COMPORTAMIENTO CONSIGAMOS SOLUCIONAR EL PROBLEMA...

ELEMENTOS AFECTADOS

#nms-section-1-content .nms-section-content  .nms-folding-element .nms-folded-element
    .nms-checkbox-wrapper
        #grid-numbers-controls .number-content-wrapper .debug-wrapper nms-folding-element .nms-folded-element

#nms-section-1-content .nms-section-content  .nms-folding-element .nms-folded-element
    #debugger-Variable-Container (change the mayus here) .nms-variable-container .nms-folding-element
        #debug-vars .nms-variable-list .nms-folding element .nms folded element


*/


/* THE PROBLEM, DECOMPOSED

1 - Part of the problem is that, when the .nms class is applied in render time, it runs through the animation...
    hence, that's part of the weird behavior: the animation runs because the class does exist...
    SOLUTION: ¿??¿? To not implement a folding animation? 
                    a temporary JS class that lasts for 1 second after clicking the button and then disappears?

2 - The max-width: 0px rule ads weird behaviors (i.e. variables partially showing whhen folding)
    also, has to be animated at a different moment than the height property
    SOLUTION: ¿?¿?

3 - the different elements, using the same animation, fill up their respective spaces when unfolding,
    starting from an empty space, causing weird "I can see the background for a second " behaviors.
    SOLUTION: implement different animations to fill up the empty space before the content has to unfold

4 - In some cases, the animation doesn't obey the time constraints given to it
    CAUSE:

5 - the variable container unfolds as predicted by the animation, BUT THEIR BUTTONS APPEAR INSTANTLY, thus enlarging the box artificially soon
    since there are many flexbox elements, the box enlarges with the width of the containing elements, automatically.

5 - GLOBAL SOLUTION 01
    switch styles towards a model based on transitions.
    a mix of the original class + "folded" or "unfolded" shall activate the proper styles + transition time.

    GLOBAL SOLUTION 02
    Creating explicit animations for each element

    GLOBAL SOLUTION 03
    Combining 
*/

.nms-section-content:not(.nms-folded-element) {
    animation-name: smooth-unfolding;
    animation-duration: 700ms;
    animation-timing-function: ease-out;
}

.nms-section-content.nms-folded-element {
    animation-name: smooth-folding;
    animation-duration: 700ms;
    animation-timing-function: ease-in;
}

.nms-variable-list:not(.nms-folded-element) {
    animation-name: smooth-unfolding;
    animation-duration: 700ms;
    animation-timing-function: ease-out;
}

.nms-section-content:not(.nms-folded-element) {
    animation-name: smooth-unfolding;
    animation-duration: 700ms;
    animation-timing-function: ease-out;
}

.nms-section-content.nms-folded-element {
    animation-name: smooth-folding;
    animation-duration: 700ms;
    animation-timing-function: ease-in;
}

.nms-variable-list:not(.nms-folded-element) {
    animation-name: smooth-unfolding;
    animation-duration: 700ms;
    animation-timing-function: ease-out;
}

/*variable boxes when folded*/
.nms-folded-element .variable-content-wrapper{
 opacity: 0;
 transition: opacity 1s linear 0s;
}

/*variable boxes when unfolded*/
.nms-variable-list:not(.nms-folded-element) .variable-content-wrapper{
  opacity: 100;
  transition: opacity 1s linear 0s;
}

@keyframes smooth-unfolding {
    0% {
        max-height:0px;
        max-width:0px;
        display: none !important;
    }
    50%{

        max-width: 100%;
    }
    100% {
        max-height: 20vh;
    }
}


.nms-variable-list.nms-folded-element {
    animation-name: smooth-folding;
    animation-duration: 1000ms;
    animation-timing-function: linear;
}

@keyframes smooth-folding {
    0% {
        max-height: 20vh;
        max-width: 100%;
    }
    50% {
        max-width:0px;
    }
    100% {
        max-height: 0px;
    }
}

.number-content-wrapper:not(.nms-folded-element) {
    animation-name: smooth-side-unfolding;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
}

@keyframes smooth-side-unfolding {

}

.number-content-wrapper.nms-folded-element {
    animation-name: smooth-side-folding;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
}

@keyframes smooth-side-folding {

}