/*==================/
|     DEBUG         |
/==================*/

*{
    /*border: 1px solid blue;
    background-color: rgba(0, 0, 0,  0.1);*/
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    /*background-color: white;*/
}




/* PASAR A NORMALIZER */
ul, 
li {
    list-style-type: none;
}
body{margin:0}

html {
   font-size: 16px;
   scroll-behavior: smooth;
}



:root {
    --font-size-mobile: 22px;
    --font-size-tablet: 20px;
    --font-size-desktop: 16px;
    --font-h1: "Righteous";
    --font-h2: "Rajdhani";
    --font-h3: "Orbitron";
    --font-p: "Space Grotesk";

    --color-grayscale-1: rgba(0,0,0,1);
    --color-grayscale-2: rgba(61,60,60,1);
    --color-grayscale-3: rgba(54,53,57,1);
    --color-grayscale-4: rgba(18,17,19,1);
    --color-grayscale-5: rgba(30,30,30,1);
    --color-grayscale-6: rgba(40,40,40,1);
    --color-grayscale-7: rgba(10,10,10,1);

    --color-greenscale-1: rgba(50,159,163,1);
    --color-greenscale-2: rgba(31,144,135,1);
    --color-greenscale-3: rgba(0,136,136,1);
    --color-greenscale-4: rgba(15,69,66,1);
 
    --color-whitescale-1: rgba(255,255,255,1);
    --color-whitescale-2: rgba(184,182,182,1);
    --color-whitescale-3: rgba(230,230,230);

    --color-4-3: #e0742d;
}

.font-title {
    font-size:14.8rem;
    font-family: var(--font-h1);
}




.pulse {
    --color-button-1: #0f4542;
    --hover-button-2: #329fa3;
    --hover-button-3: rgba(50, 159, 163, 0.1);
}

.pulse:hover,
.pulse:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--hover-button-2); }
}

button:hover, 
button:focus {
    border-color: var(--hover-button-2);
    color: var(--color-whitescale-1);
}

.fill:hover,
.fill:focus {
    background-color: var(--hover-button-3)
}




body {
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
}



header {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.main-element-2 header {
    background-image: url("../images/intro.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(26, 26, 26);
    font-family: var(--font-h1);
    color: var(--color-greenscale-2);
}

.intro-text {
    align-self:flex-end;
    position:relative;
    right: 6%;
    color: white;
    font-size:2rem;
    font-family: var(--font-h2);
}

header .header-button {
    max-width:21.8%;
    align-self:center;
    text-align:center;
    position:relative;
    top: 10vw;
    min-width: 15.8%;
    padding: 1.5rem;
    border: 1px solid rgba(61, 60, 60, 0.5);
    text-decoration:none;
}

a.header-button:visited {
    color:white;
}

a.header-button:hover {
    border-color: rgba(50, 159, 163, 1);
}

a.header-button {
    color:white;
    font-family: var(--font-h3);
}



main {
    display:flex;
    flex-flow: column nowrap;
    justify-content:center;
    background-color: var(--color-grayscale-4);
}


main > * {
    padding: 4rem 0px 5rem 0px;
}


main > * > * {
    max-width:87%;
    min-width:87%;
    align-self:center;
}

.section-text {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: var(--font-p);
    padding: 1rem 0px 2rem 0px;
}


#services {
    display:flex;
    flex-flow:column;
    justify-content: center;
    color: var(--color-whitescale-1);
    font-family: var(--font-h2);
    background-color: var(--color-grayscale-6);
}


.services-section-title-wrapper h2 {
    font-size: 2.5rem;
    letter-spacing: 1px;
}


.services-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: var(--color-grayscale-2);
    border: 1px solid gray;
    border-radius: 15px;
}

.services-square {
    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    font-family: var(--font-h2);
    padding-top: 2rem;
    padding-left: 1rem;
}

.services-square .far,
.services-square .fas {
    padding-right: 1rem;
    color: var(--color-greenscale-1);
    font-size: 1.7rem;
}

.services-square h3 {
    font-family: var(--font-h2);
    color: var(--color-whitescale-1);
}

.services-square ul {
    text-align: center;
    font-size:1.5rem;
}

.services-square li{
    color: var(--color-whitescale-3);
    font-family: var(--font-p);
    font-size: 1.1rem;
    text-align: left;
    position:relative;
    line-height: 2rem;
}


/*=========================================================================/
|     CONTACT     CONTACT     CONTACT     CONTACT     CONTACT     CONTACT  |
/*========================================================================*/

#contact {
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    align-items:stretch;
    color: var(--color-whitescale-1);
    font-family: var(--font-h2);
    background-color: var(--color-grayscale-5);
}

#contact .contact-section-title-wrapper h2 {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

#contact p {
    font-size: 1.2rem;
    font-family: var(--font-p);
    line-height: 1.5;
}

#contact .contact-form {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#contact .contact-form input, 
textarea {
    background-color: var(--color-grayscale-2);
    border-radius:5px;
    border:1px solid white;
}

#contact .contact-form input:focus, 
textarea:focus{
    color: black;
    background-color: var(--color-whitescale-2);
}

#contact .contact-form input[type="submit"] {
    margin-top: 2rem;
}

.contact-section-data-wrapper {
    flex-shrink:0;
    flex-grow:100;
}

.contact .contact-section-data-wrapper a{
    color: white;
}

.contact .contact-section-data-wrapper a:visited:{
    color: white;
}

.contact-form input, 
textarea {
    font-size:1.4rem;
    padding:0.5rem;
    color: white;
}

label {
    display:block;
    font-size: 1.5rem;
    font-weight: 700;
    font-family:var(--font-h2);
}

.contact-section-data-wrapper {
    color: white;
}

.contact-section-data-wrapper address{
    display:flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    font-style:normal;
}

/*==================/
|      FOOTER       |
/*==================*/

#footer {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: arial;
    padding-top: 1rem;
    background-color: var(--color-grayscale-7);
}

#footer .footer-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    color:white;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font: "Arial";
}

#footer .copyright {
    width:100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-top: 5px;
    font-size: 0.8rem;
    color:white;
}

#footer .copyright p {
    width:50%;
}

#footer ul {
    font-size:1.3rem;
}

#footer i {
    color:var(--color-greenscale-1);
    margin-right: 0.5rem;
}

