/* PORTRAIT */

@media screen and (max-aspect-ratio: 48/40) {


    html {
        font-size: 16px;
    }

    body {
        display:block;
    }

    main > * {
        padding: 2rem 0px 3rem 0px;
    }

    .main-element-1 {
        display:none;
    }

    .main-element-2 {
        width:100%;
    }


    
    #intro {
        min-height:19vh;
        max-height:19vh;
    }

    #intro h1 { 
        position: relative;
        top: 0.5rem;
    }

    .intro-text {
        display:none;
        font-size: 1.25rem;
        bottom: 0.25rem;
    }    

    .header-button {
        display:none;
    }

    .main-element-2 header {
        background-image: url("../images/intro-portrait.svg");
        background-color: var(--color-grayscale-1);
    }



    .menu-movil {
        display:block;
        position:sticky;
        top:0px;
        width:100%;  
        background-color: var(--color-grayscale-1);
        color:white;
        font-family: var(--font-h2);
        font-size: 1.25rem;
        font-weight: 600;
        padding: 0.75rem 1.5rem;
        border-top: 1px solid var(--color-grayscale-3);
        -webkit-transition: height 0.5s ease;
        transition: height 0.5s ease;
        z-index: 1;
    }

    .menu-movil a:visited {
        color: rgba(240,240,240,1);
        
    }

    .menu-movil a {
        text-decoration:none;
        color: rgba(240,240,240,1);
        text-shadow: 1px 1px 1px var(--color-greenscale-2);
    }

    .drop-down {
        display: flex;
        flex-flow: row nowrap;
        justify-content:space-evenly;
    }
    
    .menu-movil .drop-down li {
        display: inline-block;
        letter-spacing: 1px;
    }



    .services-section-title-wrapper h2 { 
        font-size: 2rem;
    }

    .services-square {
        flex-basis: 50%;
        min-width: 50%;
        padding-bottom: 1rem;
    }

    .services-square-title-wrapper {
        min-height:6vh;
        min-width:100%;
        max-width:100%;
    }

    .services-square-title-wrapper > * {
        display:inline;
        font-size:2rem;
    }

    .services-square-list-wrapper {
        position: relative;
        bottom: 1rem;
        z-index: 0;
    }

    .services-square li {
        list-style: square;
        position: static;
        padding-left: 0.5rem;
    }

    .services-square:not(:last-child) {
        border-bottom: 1px solid grey;
    }

    .services-square {
        margin-top: 0px;
        min-width:100%;
    }

    .services-square h3 {
        width: 100%;
    }

    .services-square ul {
        padding-left: 1.5em;
        margin-top: 1rem;
    }



    .contact-section-title-wrapper h2 { 
        font-size: 2rem; 
    }

    .contact-section-data-wrapper address div:nth-of-type(even) {
        text-align: right;
    }

    .contact-form input {
        width:100%;
        margin-bottom: 1rem;
    }

    .contact-section-data-wrapper {
        padding-top:1.2rem;
    }
    .contact-section-data-wrapper  a {
        font-size: 1.2rem;
        color: var(--color-whitescale-1);
        text-decoration: none;
        font-family: var(--font-p);
    }

    .contact-section-data-wrapper  a:visited {
        color: var(--color-whitescale-1);
    }

    .contact-form textarea {
        width:100%;
    }

    .contact-section-data-wrapper h3 { 
        font-size: 1.5rem;
    }



    #footer {
        justify-content: center;
        min-height: 28vh;
    }

    #footer .footer-section {
        flex-flow:column nowrap;
        min-width: 30%;
        margin-bottom: 1rem;
        padding: 2rem 2rem;
    }

    #footer ul {
        position:static;
    }

    #footer .copyright p {
        width: 100%;
        text-align: center;
        padding: 2rem 0;
    }

}

@media screen and (orientation: portrait) and (min-width: 600px) and (max-width:960px){
    
    .services-square {
        margin-top: 0px;
        min-width:50%;
        max-width:50%;
    }

    .services-square-title-wrapper {
        min-height:8vh;
        min-width:100%;
    }

}