/* LANDSCAPE */

@media screen and (min-aspect-ratio: 49/40) {



    .main-element-1{
    min-width: 23.6%;
    background-color: var(--color-grayscale-1);
    }

    .main-element-2{
        min-width: 76.4%;
    }


    #header-wrapper{
        padding-bottom:0rem;
    }

    .header-button{
        position:fixed;
        margin-bottom:1px;
    }

    #intro h1{
        position:relative;
        top:30px;
    }


    .menu-movil{
        display:none;
    }

    .main-element-1 nav{
        position:sticky;
        top:40vh;
        font-family: var(--font-h2);
        font-size: 1.3rem;
        text-align: right;
        width: 80%;
        margin:0px auto;
        color: var(--color-whitescale-1);
        font-weight: bold;
        letter-spacing: 5px;
    }

    .main-element-1 nav li{
        font-size: 2rem;
    }


    .navslide {
        color:grey;
        text-decoration: none;
    } 

    .navslide:hover,
    .navslide:focus,
    .navslide:active {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
    font-size: 2.5rem;
    color:white;
    }

    .navslide {
        transition: 0.45s;
    }


    .services-square {
        flex-basis: 50%;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: 0px;
        padding-bottom: 2rem;
    }

    .services-square:nth-child(even) {
        border-left:1px solid grey;
    }

    .services-square-title-wrapper {
        min-width:100%;
        padding-left: 1rem;
    }

    .services-square-title-wrapper i {
        display: inline-block;
        font-size:2rem;
    }

    .services-square h3 {
        font-size: 2.1rem;
        width:80%;
        display: inline-block;
    }

    .services-square-list-wrapper {
        min-width:100%;
    }

    .services-square ul {
        padding-top: 0.3rem;
        width: 60%;
    }

    .services-square li {
        left:3.9rem;
        list-style-type: square;
    }

    .services-square:nth-of-type(-n+4) {
        border-bottom: 1px solid gray;
    }



    #contact {
        flex-flow: row wrap;
        justify-content:center;
        align-content: flex-start;
    }

    .contact-section-form-wrapper {
        min-width:60%;
        max-width:60%;
    }

    .contact-section-data-wrapper {
        min-width:30%;
        max-width:30%;
        align-self: stretch;
    }

    .form-wrapper {
        border-right: 1px solid grey;
        padding-right:3%;
    }

    .contact-form input {
        flex-basis: 100%;
        margin-bottom: 1rem;
    }

    .contact-section-form-wrapper .form-textarea{
        width:100%;
    }

    .form-textarea{
        width:100%;
    }

    .contact-form label {
        min-width:100%;
        padding-bottom:0.5rem;
    }

    .contact-form >.input-container:not(:first-child) > label {
        padding-top:2rem;
    }


    #contact .contact-form {
        padding: 1rem 2rem 1rem 0%;
    }

    #contact .contact-section-data-wrapper {
        border-left: 1px solid grey;
        padding-left: 2rem;
    }

    #contact .contact-section-data-wrapper address div {
        width: 60%;
        display: inline-block;
        position:relative;
        top:3.3rem;
    }

    #contact .contact-section-data-wrapper address div:not(:first-child) {
        width: 60%;
        display: inline-block;
        position:relative;
        top:3.8rem;
        padding-top: 3rem;
    }

    .contact-section-data-wrapper h3 {
        font-size: 2.3rem;
        letter-spacing: 0.3rem;
    }

    .contact-section-data-wrapper a {
        display: inline-block;
        font-size:1.3rem;
    }

    #contact input {
        width: 100%;
    }

    #contact textarea {
        width:100%;
    }


    #footer{
        padding: 1rem 10%;
    }
    
    #footer ul {
        font-size:1.3rem;
    }

    #footer i {
        color:var(--color-greenscale-1);
        margin-right: 0.5rem;
    }

}


@media screen and (min-width: 900px) and (max-width: 1500px){

    #contact .contact-section-data-wrapper div h3 {
        font-size: 2rem !important;
    }

}



@media screen and (min-width:1200px){
    main > * > * {
        max-width:80%;
        min-width:80%;
        align-self:center;
    }

    .contact-section-form-wrapper {
        min-width:50%;
        max-width:50%;
    }

}