#sidebar nav a {
    -moz-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
    border: 0;
    color: rgba(219, 219, 219, 0.507);
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 0.32em;
    line-height: 1.75;
    outline: 0;
    padding: 1.20em 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Rajdhani";
}

    #sidebar nav a:before, #sidebar nav a:after {
        border-radius: 0.2em;
        bottom: 0;
        content: '';
        height: 0.2em;
        position: absolute;
        right: 0;
        width: 100%;
    }

    #sidebar nav a:before {
        background: #0f4542;
    }

    #sidebar nav a:after {
        background-image: -moz-linear-gradient(to right, #26bda1, #1e8782);
        background-image: -webkit-linear-gradient(to right, #26bda1, #1e8782);
        background-image: -ms-linear-gradient(to right, #26bda1, #1e8782);
        background-image: linear-gradient(to right, #26bda1, #1e8782);
        -moz-transition: max-width 0.2s ease;
        -webkit-transition: max-width 0.2s ease;
        -ms-transition: max-width 0.2s ease;
        transition: max-width 0.2s ease;
        max-width: 0;
    }

    #sidebar nav a:hover {
        color: rgba(255, 255, 255, 0.616);
    }

    #sidebar nav a.active {
        color: #ffffff;
    }

        #sidebar nav a.active:after {
            max-width: 100%;
        }
