@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:wght@400;500;600;700');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');






/* Misc */



.text {
  fill: none;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-dasharray: 60 140;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 8s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #a3fff4;
  stroke-width: 1;
  -webkit-animation-delay: -1.6s;
  animation-delay: -1.6s;
}

.text:nth-child(5n + 2) {
  stroke: #40d199;
    stroke-width: 2;
  -webkit-animation-delay: -3.2s;
  animation-delay: -3.2s;
}

.text:nth-child(5n + 3) {
  stroke: #E9F1DF;
    stroke-width: 3;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 4) {
  stroke: #56D9CD;
      stroke-width: 2;
  -webkit-animation-delay: -6.4s;
  animation-delay: -6.4s;
}

.text:nth-child(5n + 5) {
  stroke: #a3fff4;
  stroke-width: 1;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -200;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -200;
  }
}